body{margin: 0; padding: 0; font-family: 'Abel', sans-serif;}
*{box-sizing: border-box;}
.container{width:85%; margin: auto;}
.col-6{width:85%; float: left;padding: 5px;}
.row::after{content: "";clear: both; display: table;}
.top-margin{margin-top: 100px;}
.desc p{text-align: justify;}
.desc h1{font-size: 80px; margin: 0; padding: 0;text-align: center;}
.desc h3{text-align: center;}
.desc{background: #f8f8f8; padding: 10px 30px; border-radius: 7px; box-shadow: 0 0 15px rgba(61, 61,61, 0.25);}
form{padding:10px 30px; background: rgb(230, 140, 5); box-shadow: 0 0 15px rgba(61, 61, 61, 0.25); border-radius:7px;}
.form input, .form select {width:50%; margin:auto; border:1px solid black; padding:4px; margin-bottom: 3px;}
.form input::placeholder, .form select{
    font-family:'Abel', sans-serif;
}
.form button {
    font-family:'Abel', sans-serif;
    background:black;
    color:white;
    border:none;
    padding:10px;
    cursor: pointer;
    border-radius:4px;
}
.form button:hover{
    background:rgb(13, 6, 82);
    transition: all 0.5s ease-in;
}
.output{
    
    padding:3px 10px;
    background:rgb(114, 74, 14); 
    margin-top:5px;

}
.output p{
    color:white;
    font-size:40px;
    padding:0;
    margin:0;
    text-align:center;
}
@media screen and (max-width: 650px) {
    .container{
        width:95%; margin:auto;
    }
    .col-6{
        width:100%;
        float:none;
    }
    .desc h1{
        font-size:40px;
    }
}
@media screen and (min-width: 651px) {
    .container{
        width:100%; margin:auto;
    }

    .col-6{
        width:50%;
        float:left;
    }
    .top-margin{margin-top:100px;}
    .desc h1{
        font-size:50px;
    }
}
@media screen and (min-width: 1200px) {
    .container{width:85%; margin:auto;}
    .top-margin{margin-top:100px;}
    .desc h1{font-size:80px; margin:0; padding:0; text-align:center;}
